@import '../../variables';

.carousel {
    height: 100%;
    width: 100%;

    background-color: #202020;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-disp {
    height: 75%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-areas:
    ". prevImg . currImg currImg currImg currImg . nextImg .";
    align-items: center;
    text-align: center;
    max-height: 75%;
    grid-template-rows: 100%;
}

.carousel-position {
    height: 5%;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.position-inactive {
    font-size: 1rem;
}

.position-active {
    font-size: 2rem;
}

.carousel-timeline {
    height: 10%;
    width: 100%;

    //might want to grid this for a more even display
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-areas:
    ". left . prevTime currTime currTime nextTime . right .";
    align-items: center;
    text-align: center;
    margin: 1%;

    button {
        background: transparent;
        font-style: italic;
        color: white;
        height: 50%;
        @include roundedBorder(40%);
    }
}

.carousel-link {
    height: 70%;
    width: 100%;
    grid-area: currImg;
    object-fit: scale-down;
}

.carousel-title {
    height: 10%;
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.carousel-img-prev {
    height: 40%;
    width: 100%;
    object-fit: scale-down;
    grid-area: prevImg;
}

.carousel-img-next {
    height: 40%;
    width: 100%;
    object-fit: scale-down;
    grid-area: nextImg;
}

.carousel-img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.timeline-prev {
    grid-area: prevTime;
    @include textFlex();
    font-size: .8rem;
}

.timeline-next {
    grid-area: nextTime;
    @include textFlex();
    font-size: .8rem;
}

.timeline-curr {
    grid-area: currTime;
    border: 1px solid white;
    font-size: 1rem;
    height: 100%;
    @include roundedBorder(40%);
    @include textFlex();
}

.carousel-arrow-left {
    grid-area: left;
}

.carousel-arrow-right {
    grid-area: right;
}
