.piece-cont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.piece-img {
    height: 80%;
    width: 40%;
}

.piece-desc {
    height: 80%;
    width: 40%;
    border: 1px solid black;
}

.desc-header {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 3%;
}

.desc-main {
    height: 60%;
    width: 100%;
    padding: 4%;
    line-height: 1.5;
}

.desc-footer {
    height: 30%;
    width: 100%;
    width: 100%;
    padding: 4%;
    border-top: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    h4 {
        width: 50%;
    }
}